In [6]:
import pandas as pd
from sqlalchemy import create_engine
import pyarrow.parquet as pq
from time import time

In [7]:
#df = pd.read_parquet("green_tripdata_2023-01.parquet")

In [16]:
#dff = pd.read_parquet("data/yellow_tripdata_2023-01.parquet")
dff = pd.read_parquet("data/yellow_tripdata_2023-01.parquet", engine='pyarrow')
dff = dff.head(100)

In [17]:
dff

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2023-01-01 00:20:38,2023-01-01 00:21:26,1.0,0.08,1.0,N,75,75,2,3.0,1.00,0.5,0.00,0.0,1.0,5.50,0.0,0.00
96,2,2023-01-01 00:09:16,2023-01-01 00:30:17,1.0,6.22,1.0,N,138,95,2,31.0,6.00,0.5,0.00,0.0,1.0,39.75,0.0,1.25
97,2,2023-01-01 00:46:56,2023-01-01 00:59:16,1.0,4.56,1.0,N,132,218,1,20.5,1.00,0.5,5.75,0.0,1.0,30.00,0.0,1.25
98,2,2023-01-01 00:10:50,2023-01-01 00:20:19,1.0,1.41,1.0,N,264,186,1,10.7,1.00,0.5,3.92,0.0,1.0,19.62,2.5,0.00
99,2,2023-01-01 00:27:35,2023-01-01 00:37:49,1.0,1.70,1.0,N,264,114,1,11.4,1.00,0.5,2.00,0.0,1.0,18.40,2.5,0.00

In [18]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [19]:
engine.connect()

In [6]:
print(pd.io.sql.get_schema(df, name= "ny_taxi_data", con=engine))

CREATE TABLE ny_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee TEXT,
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

- create schema first

In [20]:
dff.head(0).to_sql(con=engine, name= "ny_taxi_data", if_exists='replace')

0

- then first 100 entries before loading over 3M rows

In [22]:
dff.to_sql(con=engine, name= "ny_taxi_data", if_exists='append')

100

In [8]:
parquet_file = pq.ParquetFile("green_tripdata_2023-01.parquet")

chunk_size=100000
for batch in parquet_file.iter_batches(batch_size=chunk_size):
    start_time = time()
    df = batch.to_pandas()
    df.to_sql(con=engine, name= "ny_taxi_data", if_exists='append')
    end_time = time()
    print("inserting data chunk by chunk...it took %.3f second" %(end_time-start_time))

inserting data chunk by chunk...it took 0.782 second
inserting data chunk by chunk...it took 0.654 second
inserting data chunk by chunk...it took 0.640 second
inserting data chunk by chunk...it took 0.688 second
inserting data chunk by chunk...it took 0.823 second
inserting data chunk by chunk...it took 0.648 second
inserting data chunk by chunk...it took 0.517 second

In [9]:
#%time df.to_sql(con=engine, name= "ny_taxi_data", if_exists='append')